<% if current_user.state == 'No actions taken' then %>
    <p>You will need to complete your profile before continuing</p>
    <%= link_to 'Edit Writer Profile', edit_writer_path(current_user.writer) %>
<% else %>
  <h1><%= @writer.full_name %>'s Wall</h1>
<% end %>
